<!DOCTYPE HTML>

<html>
	<head>
		<title>Vida Inclusiva - Convenios</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
		<link rel="shortcut icon"  href="assets/images/iconopestana.ico">
	</head>
<body>
<div id="wrapper" class="fade-in">
		<a href="/" class="image logoPequeno"><img src="assets/images/logovidainclusivagrandeFinal.png" alt="" /></a>
		<br>
		<nav id="nav">
			<ul class="links">
				<li class="active"><a href="/">Inicio</a></li>
				<li id="colorAreas"><a href="/">Nuestras Áreas</a>
					<ul>
						<li>
							<a href="/fono">fonoaudiología</a>
							<a href="/kine">Kinesiología</a>
							<a href="/terapia">Terapia ocupacional</a>
							<a href="/nutricion">Nutrición</a>
							<a href="/neuro">Neuropsicología  Infantil</a>
						</li>
					</ul>
				</li>
				<li id="colorOtros"><a  href="/servicios">Otros Servicios</a>
				<li id="colorConvenios"><a href="/convenios">Convenios</a></li>
				<li id="colorContactenos" ><a href="/contactenos">Contáctenos</a></li>
				<li id="colorReserva"><a href="/contact">Reserva tu Hora</a></li>
			</ul>
			<ul class="icons">
				<li><a href=" https://www.facebook.com/espaciovidainclusiva/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/Vida.Inclusiva/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
			</ul>
		</nav>
	<div id="main">
			<article class="post featured">
				<header class="major">
                   
                    <div id="convenios">
						<p><h3>Convenios</h3></p>
						<a  id="img-link" href="https://www.fonasa.cl"  target="_blank"><img  src="assets/images/fonasa.jpg" alt="" /></a>
						<a id="img-link" href="https://www.colmena.cl" target="_blank"><img  src="assets/images/colmena.png" alt="" /></a>
						<a id="img-link" href="https://www.cruzblanca.cl" target="_blank"><img  src="assets/images/cruz-blanca.png" alt="" /></a>
						<a id="img-link" href="https://www.consalud.cl" target="_blank"><img  src="assets/images/consalud.png" alt="" /></a>
						<a id="img-link" href="https://www.nuevamasvida.cl" target="_blank"><img  src="assets/images/Nueva-Masvida.png" alt="" /></a>
						<a id="img-link"  href="https://www.banmedica.cl" target="_blank"><img  src="assets/images/banmedica.jpeg" alt="" /></a>
						<a id="img-link" href="https://www.vidatres.cl" target="_blank"><img  src="assets/images/vidatres.jpeg" alt="" /></a>
						<a id="img-link" href="https://www.isaprefundacion.cl" target="_blank"><img  src="assets/images/fundacion.jpeg" alt="" /></a>
                    </div><br>
                    <p> <center> ¿Quieres ser parte de nuestras alianzas? ¡Contáctate con nosotras para obtener beneficios!</center></p>
					
				</header>
			</article>
			<hr style="padding: 0;">
	</div>
</div>
		
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="./server.js"></script>

	</body>
</html>