<!DOCTYPE HTML>

<html>
	<head>
		<title>Vida Inclusiva - Nutrición</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
		<link rel="shortcut icon"  href="assets/images/iconopestana.ico">
		<script>
			function desplegar(titulo1){
				if(document.getElementById('titulo1').style.display == 'block'){
					 document.getElementById('titulo1').style.display = 'none'
					 
				 }else{
					document.getElementById('titulo1').style.display = 'block';
				 }
			}	
			function desplegar2(titulo2){
				if (document.getElementById('titulo2').style.display == 'block') {
					document.getElementById('titulo2').style.display = 'none'
				 } else {
					document.getElementById('titulo2').style.display = 'block';
				 }
			}  
			function desplegar3(titulo3){
				if (document.getElementById('titulo3').style.display == 'block') {
					document.getElementById('titulo3').style.display = 'none'
				 } else {
					document.getElementById('titulo3').style.display = 'block';
				 }
			} 
			function desplegar4(titulo4){
				if (document.getElementById('titulo4').style.display == 'block') {
					document.getElementById('titulo4').style.display = 'none'
				 } else {
					document.getElementById('titulo4').style.display = 'block';
				 }
			} 
			function desplegar5(titulo5){
				if (document.getElementById('titulo5').style.display == 'block') {
					document.getElementById('titulo5').style.display = 'none'
				 } else {
					document.getElementById('titulo5').style.display = 'block';
				 }
			} 
			function desplegar6(titulo6){
				if (document.getElementById('titulo6').style.display == 'block') {
					document.getElementById('titulo6').style.display = 'none'
				 } else {
					document.getElementById('titulo6').style.display = 'block';
				 }
			} 
			function desplegar7(titulo7){
				if (document.getElementById('titulo7').style.display == 'block') {
					document.getElementById('titulo7').style.display = 'none'
				 } else {
					document.getElementById('titulo7').style.display = 'block';
				 }
			} 
			
	</script>
	</head>
	<body class="is-preload">
		<div id="wrapper" class="fade-in">
				<a href="/" class="image logoPequeno"><img src="assets/images/logovidainclusivagrandeFinal.png" alt="" /></a><br>
				<nav id="nav">
					<ul class="links">
						<li class="active"><a href="/">Inicio</a></li>
				<li id="colorAreas"><a href="/">Nuestras Áreas</a>
					<ul>
						<li>
							<a href="/fono">fonoaudiología</a>
							<a href="/kine">Kinesiología</a>
							<a href="/terapia">Terapia ocupacional</a>
							<a href="/nutricion">Nutrición</a>
							<a href="/neuro">Neuropsicología  Infantil</a>
						</li>
					</ul>
				</li>
				<li id="colorOtros"><a  href="/servicios">Otros Servicios</a>
				<li id="colorConvenios"><a href="/convenios">Convenios</a></li>
				<li id="colorContactenos" ><a href="/contactenos">Contáctenos</a></li>
				<li id="colorReserva"><a href="/contact">Reserva tu Hora</a></li>
					</ul>
					<ul class="icons">
						<li><a href=" https://www.facebook.com/espaciovidainclusiva/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/Vida.Inclusiva/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
				</nav>
				
				
			<div id="main">
						<header class="major">
							<h3><a>Nutrición</a></h3>
							<p>
                                La nutrición es el área encargada de prevenir y mejorar los problemas de salud relacionados
                                 con la alimentación, realizar tratamiento de enfermedades y trastornos que afectan el peso, y los requerimientos específicos que requiere cada persona, basado en sus gustos y preferencias,
                                 orientando sobre hábitos de alimentación saludable y mejorando la condición física.</p>
							<h3><a>¿Cuándo consultar?</a></h3>
							<p>Puedes consultar de manera general si quieres bajar de peso, mejorar hábitos alimenticios o si eres una persona físicamente activa.
								 También podemos ayudarte si posees alguna derivación médica por enfermedad y/o te nutres por vía enteral (sonda) o si posees alimentación de tipo vegana/vegetariana.</p><br>
                                 <h3><a>¿Cuánto dura un tratamiento?</a></h3>
							<p>El tratamiento inicial se realiza considerando un mes de duración, posterior a un control se analizan nuevamente los objetivos
                                 del paciente y se puede renovar el tratamiento nutricional si así lo requiere. </p><br>
                                 
						</header>
								<section class ="banner">
										<div class="banner-content">
												<a href="/contact">Reservar Hora</a>
										</div>
								</section>	
							<div style="padding: 2.5 em;padding-bottom: 1em;  background-color: #eeeeee;">
							<center><h3 style="margin: 0;" >¿En qué casos puede ayudarte Vida Inclusiva?</h3></center>
			</div>				
<section class="acordeon">
	
<article>
<a id="img-link" onclick="desplegar('titulo1')" style="cursor:pointer;" ><img src="assets/images/cardiovascular.png" alt=""  /></a>
<div class="text">
	<p><b>Enfermedades cardiovasculares</b></p>	 	
 </div>
<p  id="titulo1" style="display: none;">
Dirigido a personas que tengan enfermedades crónicas como resistencia a la insulina, diabetes, hipertensión, dislipidemias, colesterol alto, enfermedades renales, entre otros.<br>
	
</p></article>
<article>
<a id="img-link" onclick="desplegar2('titulo2')" style="cursor:pointer;"><img src="assets/images/sobrepesoUObesidad.png" alt="" /></a>
<div class="text">
		<p><b>Sobrepeso u obesidad</b></p>
 </div>
<p id="titulo2" style="display: none;">
	  Dirigido a personas con sobrepeso u obesidad, además de aquellas que no están conformes con su peso actual.<br>
			
</p></article>
<article>
<a id="img-link" onclick="desplegar3('titulo3')" style="cursor:pointer;"><img src="assets/images/cambiosDeEstiloAlimentacion.png" alt="" /></a>
<div class="text">
		<p><b>Cambios de estilo de alimentación y hábitos saludables</b></p>
 </div>
<p id="titulo3" style="display: none;">
	
</p></article>
<article>
<a id="img-link" onclick="desplegar4('titulo4')" style="cursor:pointer;"><img src="assets/images/personasFisicamenteActivas.png" alt="" /></a>
<div class="text">
		<p><b>Personas físicamente activas</b></p>
 </div>
<p id="titulo4" style="display: none;">
		 Programas nutricionales dirigidos a personas que realizan actividad física de manera habitual, y que desean mejorar su rendimiento deportivo.
        <br>
			
</p></article>
<article>
<a id="img-link" onclick="desplegar5('titulo5')" style="cursor:pointer;"><img src="assets/images/intestino.png" alt="" /></a>
<div class="text">
		<p><b>Enfermedades gastrointestinales</b></p>
 </div>
<p id="titulo5" style="display: none;">
		
</p></article>
<article>
<a id="img-link" onclick="desplegar6('titulo6')" style="cursor:pointer;"><img src="assets/images/vegetarianismo.png" alt="" /></a>
<div class="text">
		<p><b>Vegetarianismo - veganismo</b></p>
 </div>

 <p id="titulo6" style="display: none;">
		 Dirigido a personas que optan por una alimentación vegetariana o vegana, que requieran evaluación y asesoría nutricional.<br>
</p>
</article>
<article>
    <a id="img-link" onclick="desplegar7('titulo7')" style="cursor:pointer;"><img src="assets/images/embarazoYLactancia.png" alt="" /></a>
    <div class="text">
            <p><b>Embarazo y Lactancia</b></p>
     </div>
    
     <p id="titulo7" style="display: none;">
             Dirigido a personas en planificación del embarazo, embarazadas y en el periodo postparto. Preocupándonos de no descuidar los requerimientos de macro y micronutrientes para el adecuado desarrollo fetal y del recién nacido.<br>
    </p>
    </article>
</section><br>

	</div>
				<!-- Scripts -->
					<script src="assets/js/jquery.min.js"></script>
					<script src="assets/js/jquery.scrollex.min.js"></script>
					<script src="assets/js/jquery.scrolly.min.js"></script>
					<script src="assets/js/browser.min.js"></script>
					<script src="assets/js/breakpoints.min.js"></script>
					<script src="assets/js/util.js"></script>
					<script src="assets/js/main.js"></script>
					<script src="./server.js"></script>

	</body>
</html>