<!DOCTYPE HTML>
<html>
	<head>
		<title>Vida Inclusiva - Nuestros Servicios</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<link rel="stylesheet" href="assets/css/lightbox.min.css" />
		<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
		<link rel="shortcut icon" href="assets/images/iconopestana.ico">
	</head>
	<body class="is-preload">
		<div id="wrapper" class="fade-in">
				<a href="/" class="image logoPequeno"><img src="assets/images/logovidainclusivagrandeFinal.png" alt="" /></a><br>
				<nav id="nav">
					<ul class="links">
						<li class="active"><a href="/">Inicio</a></li>
				<li id="colorAreas"><a href="/">Nuestras Áreas</a>
					<ul>
						<li>
							<a href="/fono">fonoaudiología</a>
							<a href="/kine">Kinesiología</a>
							<a href="/terapia">Terapia ocupacional</a>
							<a href="/nutricion">Nutrición</a>
							<a href="/neuro">Neuropsicología  Infantil</a>
						</li>
					</ul>
				</li>
				<li id="colorOtros"><a  href="/servicios">Otros Servicios</a>
				<li id="colorConvenios"><a href="/convenios">Convenios</a></li>
				<li id="colorContactenos" ><a href="/contactenos">Contáctenos</a></li>
				<li id="colorReserva"><a href="/contact">Reserva tu Hora</a></li>
					</ul>
					<ul class="icons">
						<li><a href=" https://www.facebook.com/espaciovidainclusiva/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/Vida.Inclusiva/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
				</nav>
				<!--<img src="images/fonoaudiologia.jpg" alt="" />-->
		<div id="main">
			<article class="post featured">
				<header class="major">
							
							<h3><a>Nuestros servicios</a></h3> 
							<p>En Vida Inclusiva nos dedicamos a realizar terapias fonoaudiológicas en consulta privada y,
									dependiendo de la comuna, a domicilio.
									Dentro de nuestros servicios ofrecemos talleres a colegios, empresas, municipios,
									residencias de adultos mayores, entre otros.</p>
									<h3><a>Nuestros talleres</a></h3>
									<p>- Charlas para padres y/o cuidadores.</p>
									<p>- Talleres teórico/práctico dirigidos a docentes.</p>
									<p>- Talleres de estimulación cognitiva para adultos mayores.</p><br>
									<p>Ya que nuestro mayor compromiso es con nuestros usuarios y usuarias, contamos con
									planes mensuales para quienes requieran tratamientos más intensivos y frecuentes y para
									aquellas familias en las que más de un miembro necesite servicios fonoaudiológico.
									Comunícate con nosotros para conocer nuestras tarifas.</p>
				</header>
				
								<!--<ul class="actions special">
							<li><a href="#" class="button large">Full Story</a></li>
						</ul>--> 
						<article class="gallery">
							<p><h4>Operativo social Iglesia Alianza Cristiana y Misionera</h4></p><br>
							<a  href="assets/images/gallery1.jpeg" data-lightbox="mygallery" data-title="Vida Inclusiva"><img  src="assets/images/gallery1-small (1).jpg" alt="" /></a>
							<a  href="assets/images/gallery2.jpeg" data-lightbox="mygallery" data-title="Vida Inclusiva"><img  src="assets/images/gallery2-small (1).jpg" alt="" /></a>
							<a  href="assets/images/gallery3.jpeg" data-lightbox="mygallery" data-title="Vida Inclusiva"><img  src="assets/images/gallery3-small (1).jpg" alt="" /></a>
					</article>
				</article>
					
					
			</div>
			
			
			
		</div>
		
				
					<script src="assets/js/jquery.min.js"></script>
					<script src="assets/js/lightbox-plus-jquery.min.js"></script>
					<script src="assets/js/jquery.scrollex.min.js"></script>
					<script src="assets/js/jquery.scrolly.min.js"></script>
					<script src="assets/js/browser.min.js"></script>
					<script src="assets/js/breakpoints.min.js"></script>
					<script src="assets/js/util.js"></script>
					<script src="assets/js/main.js"></script>
					<script src="./server.js"></script>

	</body>
</html>