<!DOCTYPE HTML>

<html>
	<head>
		<title>Vida Inclusiva - Terapia Ocupacional</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
		<link rel="shortcut icon"  href="assets/images/iconopestana.ico">
		<script>
			function desplegar(titulo1){
				if(document.getElementById('titulo1').style.display == 'block'){
					 document.getElementById('titulo1').style.display = 'none'
					 
				 }else{
					document.getElementById('titulo1').style.display = 'block';
				 }
			}	
			function desplegar2(titulo2){
				if (document.getElementById('titulo2').style.display == 'block') {
					document.getElementById('titulo2').style.display = 'none'
				 } else {
					document.getElementById('titulo2').style.display = 'block';
				 }
			}  
			function desplegar3(titulo3){
				if (document.getElementById('titulo3').style.display == 'block') {
					document.getElementById('titulo3').style.display = 'none'
				 } else {
					document.getElementById('titulo3').style.display = 'block';
				 }
			} 
			
	</script>
	</head>
	<body class="is-preload">
		<div id="wrapper" class="fade-in">
				<a href="/" class="image logoPequeno"><img src="assets/images/logovidainclusivagrandeFinal.png" alt="" /></a><br>
				<nav id="nav">
					<ul class="links">
						<li class="active"><a href="/">Inicio</a></li>
				<li id="colorAreas"><a href="/">Nuestras Áreas</a>
					<ul>
						<li>
							<a href="/fono">fonoaudiología</a>
							<a href="/kine">Kinesiología</a>
							<a href="/terapia">Terapia ocupacional</a>
							<a href="/nutricion">Nutrición</a>
							<a href="/neuro">Neuropsicología  Infantil</a>
						</li>
					</ul>
				</li>
				<li id="colorOtros"><a  href="/servicios">Otros Servicios</a>
				<li id="colorConvenios"><a href="/convenios">Convenios</a></li>
				<li id="colorContactenos" ><a href="/contactenos">Contáctenos</a></li>
				<li id="colorReserva"><a href="/contact">Reserva tu Hora</a></li>
					</ul>
					<ul class="icons">
						<li><a href=" https://www.facebook.com/espaciovidainclusiva/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/Vida.Inclusiva/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
				</nav>
				
				
			<div id="main">
	<header class="major">
		<h3><a>Terapia Ocupacional</a></h3>
		<p>Disciplina del área de la salud enfocada en la prevención, promoción e intervención terapéutica a través de las ocupaciones
				de las personas en cualquier etapa del ciclo vital, promoviendo la
				independencia y autonomía en las distintas áreas de su vida,
				logrando un óptimo desempeño en estas.<br><br>
		<b>Funciones:</b><br><br>
<p id="parrafoterapia">	
- Acompañamiento terapéutico.<br>
- Análisis del perfil sensorial.<br>
- Rehabilitación física y cognitiva.<br>
-  Programa personalizado de rehabilitación funcional.<br>
- Adaptaciones y modificaciones en el hogar.<br>
- Reeducación en las actividades básicas de la vida diaria. <br>
- Orientación, prescripción, confección de ortesis y ayudas técnicas. <br>
- Análisis de puesto de trabajo y apresto laboral.<br><br>
</p>	

</p>
			<h3><a>¿Cuándo consultar?</a></h3>
			<p>Cuando se presentan dificultades en la realización de las ocupaciones, ya sea en las actividades de la vida diaria, trabajo, participación social, juego, ocio y tiempo libre, descanso y sueño.
			</p><br>
	</header>
                        <div id ="cloneMain2">
										<div class="banner-content">
												<a href="/contact">Reservar Hora</a>
										</div>
                        </div>	
							<div style="padding: 2.5 em;padding-bottom: 1em;  background-color: #eeeeee;">
							<center><h3 style="margin: 0;" >¿En qué casos puede ayudarte Vida Inclusiva?</h3></center>
			</div>				
<section class="acordeon2">
	
<article>

<div class="text">
	<a id="img-link" onclick="desplegar('titulo1')" style="cursor:pointer;" ><img src="assets/images/nino.png" alt=""  /></a>
	<p><b>Niños (0 a 12 años)</b></p>	 	
 </div>
<p  id="titulo1" style="display: none;">
    Discapacidad Intelectual (DI)<br>
	<span>-</span> Trastorno de déficit de atención con o sin hiperactividad (TDAH).<br>
	- Trastornos del espectro autista (TEA).<br>
	- Trastornos del aprendizaje.<br>
	- Trastornos de conductuales.<br>
	- Trastorno de ansiedad.<br>
    - Paralisis cerebral (PC). <br>
    - Alteración del desarrollo (RDP).<br>
	- Malformaciones congénitas. <br>
    - Consumo problemático de drogas.  <br>
    <b>Se debe consultar si presenta:</b><br>
- Problemas en la interacción con sus pares.<br>
- Disminución de intereses.<br>
- Dificultades en el juego de acuerdo a su edad cronológica.<br> 
- Conductas disruptivas.<br> 
- Disfunciones en procesamientos sensoriales.<br>
</p>
</article>

<article>
<div class="text">
	<a id="img-link" onclick="desplegar2('titulo2')" style="cursor:pointer;" ><img src="assets/images/joven.png" alt="" /></a>
	<p><b>Adolescentes</b></p>
 </div>
<p id="titulo2" style="display: none;">
- Discapacidad Intelectual (DI)<br>
<b>	Trastornos de salud mental:</b><br>
Depresión, ansiedad, disocial y negatividad desafiante, abuso y dependencia de sustancias, bulimia, anorexia y estrés.<br>
<b>Si presentan:</b><br>  
- Situación de discapacidad mental y/o física que interfieran en su desempeño ocupacional.<br>
- Pérdida de motivación e interés.
								
</p></article>
<article>

<div class="text">
	    <a id="img-link" onclick="desplegar3('titulo3')" style="cursor:pointer;" ><img src="assets/images/abuelos.png" alt="" /></a>
		<p><b>Adultos y personas mayores (De 18 años en adelante)</b></p>
 </div>
<p id="titulo3" style="display: none;">
    - Accidente cerebro vascular (ACV).<br>
	- Traumatismo encéfalo craneano (TEC) <br>
    - Lesiones medulares.<br>
    - Lesiones articulares, tendinosas y nerviosas (traumáticas y/o compresivas) ej: síndrome del túnel carpiano, parálisis del nervio radial, tenorrafias, fracturas, etc<br>
    - Amputaciones.<br>
    -  Artrosis – Artritis.<br>
    - Esclerosis múltiple.<br>
    - Esclerosis lateral amiotrófica (ELA).<br>
    - Lesiones medulares.<br>
    - Parkinson.<br>
    - Demencia: Alzheimer, cuerpos de lewy, etc.<br>
    <b>Si presentan:</b><br> 
- Situación de discapacidad mental y/o física que interfieran en su desempeño ocupacional.<br>
- Pérdida de motivación e interés.<br> 
- Dificultades en la memoria.
</p></article>
</section>
<footer>
<p><b><center>¿Cuánto dura un tratamiento?</center></b></p><br>
<p> La duración es variable, siempre dependerá de la necesidad de cada usuario/a.</p>
</footer>	
	</div>
				<!-- Scripts -->
					<script src="assets/js/jquery.min.js"></script>
					<script src="assets/js/jquery.scrollex.min.js"></script>
					<script src="assets/js/jquery.scrolly.min.js"></script>
					<script src="assets/js/browser.min.js"></script>
					<script src="assets/js/breakpoints.min.js"></script>
					<script src="assets/js/util.js"></script>
					<script src="assets/js/main.js"></script>
					<script src="./server.js"></script>

	</body>
</html>