<!DOCTYPE HTML>

<html>
	<head>
		<title>Vida Inclusiva - Fonoaudiología</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
		<link rel="shortcut icon"  href="assets/images/iconopestana.ico">
		<script>
			function desplegar(titulo1){
				if(document.getElementById('titulo1').style.display == 'block'){
					 document.getElementById('titulo1').style.display = 'none'
					 
				 }else{
					document.getElementById('titulo1').style.display = 'block';
				 }
			}	
			function desplegar2(titulo2){
				if (document.getElementById('titulo2').style.display == 'block') {
					document.getElementById('titulo2').style.display = 'none'
				 } else {
					document.getElementById('titulo2').style.display = 'block';
				 }
			}  
			function desplegar3(titulo3){
				if (document.getElementById('titulo3').style.display == 'block') {
					document.getElementById('titulo3').style.display = 'none'
				 } else {
					document.getElementById('titulo3').style.display = 'block';
				 }
			} 
			function desplegar4(titulo4){
				if (document.getElementById('titulo4').style.display == 'block') {
					document.getElementById('titulo4').style.display = 'none'
				 } else {
					document.getElementById('titulo4').style.display = 'block';
				 }
			} 
			function desplegar5(titulo5){
				if (document.getElementById('titulo5').style.display == 'block') {
					document.getElementById('titulo5').style.display = 'none'
				 } else {
					document.getElementById('titulo5').style.display = 'block';
				 }
			} 
			function desplegar6(titulo6){
				if (document.getElementById('titulo6').style.display == 'block') {
					document.getElementById('titulo6').style.display = 'none'
				 } else {
					document.getElementById('titulo6').style.display = 'block';
				 }
			} 
			
	</script>
	</head>
	<body class="is-preload">
		<div id="wrapper" class="fade-in">
				<a href="/" class="image logoPequeno"><img src="assets/images/logovidainclusivagrandeFinal.png" alt="" /></a><br>
				<nav id="nav">
					<ul class="links">
						<li class="active"><a href="/">Inicio</a></li>
				<li id="colorAreas"><a href="/">Nuestras Áreas</a>
					<ul>
						<li>
							<a href="/fono">fonoaudiología</a>
							<a href="/kine">Kinesiología</a>
							<a href="/terapia">Terapia ocupacional</a>
							<a href="/nutricion">Nutrición</a>
							<a href="/neuro">Neuropsicología  Infantil</a>
						</li>
					</ul>
				</li>
				<li id="colorOtros"><a  href="/servicios">Otros Servicios</a>
				<li id="colorConvenios"><a href="/convenios">Convenios</a></li>
				<li id="colorContactenos" ><a href="/contactenos">Contáctenos</a></li>
				<li id="colorReserva"><a href="/contact">Reserva tu Hora</a></li>
					</ul>
					<ul class="icons">
						<li><a href=" https://www.facebook.com/espaciovidainclusiva/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/Vida.Inclusiva/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
				</nav>
				
				
			<div id="main">
						<header class="major">
							<h3><a>Fonoaudiología</a></h3>
							<p>
								La fonoaudiología es una disciplina dedicada a la prevención, promoción, diagnóstico e intervención
								terapéutica en los ámbitos del lenguaje, habla, comunicación, cognición, voz, audición y
								deglución a lo largo de todo el ciclo vital.</p>
							<h3><a>¿Cuándo consultar?</a></h3>
							<p>Cuando se presenten dificultades en cualquiera de las áreas de la fonoaudiología, ya sea
								voz, habla, lenguaje, audición, deglución y/o cognición.</p><br>
						</header>
								<section class="banner">
									<div class="banner-content">
										<a href="/contact">Reservar Hora</a>
									</div>
								</section>
							<div style="padding: 2.5 em;padding-bottom: 1em;  background-color: #eeeeee;">
							<center><h3 style="margin: 0;" >¿En qué casos puede ayudarte Vida Inclusiva?</h3></center>
			</div>				
<section class="acordeon">
	
<article>
<a id="img-link" onclick="desplegar('titulo1')" style="cursor:pointer;" ><img src="assets/images/fono3.png" alt=""  /></a>
<div class="text">
	<p><b>Niños</b></p>	 	
 </div>
<p  id="titulo1" style="display: none;">
- Si a los 6 meses parece no tener intención de comunicarse, no interactúa con otros y/o no mira a los ojos.<br>
	<span>-</span> Si se sospecha que presenta un vocabulario disminuido.<br>
	- No se le entienden las palabras que produce.<br>
	- Parece no comprender cuando se le dan órdenes.<br>
	- No forma frases o lo hace de manera incorrecta.<br>
	- Si al hablar presenta bloqueos o repite palabras o sílabas.<br>
	- Si presenta diagnóstico de algún síndrome o trastorno del	neurodesarrollo como Trastorno del Espectro Autista, Síndrome de Down, Síndrome de Rett, Síndrome de X Frági, entre otros.<br>
	- Selectividad alimentaria.<br>
	- Quiere estimular el proceso de adquisición del lenguaje en su hijo.<br>
</p></article>
<article>
<a id="img-link" onclick="desplegar2('titulo2')" style="cursor:pointer;"><img src="assets/images/fono4.png" alt="" /></a>
<div class="text">
		<p><b>Adultos</b></p>
 </div>
<p id="titulo2" style="display: none;">
	 - Para evaluación de habla, comunicación, cognición, deglución y lenguaje después de un Accidente Cerebro  Vascular (ACV) o Traumatismo Cráneo-Encefálico (TEC).<br>
			- Olvida las palabras frecuentemente.<br>
			- Sospecha que presenta dificultades para pronunciar.<br>
					- Presenta dificultades antes, durante o después de tragar.<br>
						- Diagnóstico de enfermedad neurodegenerativa.<br>
							- Problemas de audición.<br>
								- Dificultades de lectura y escritura.<br>
</p></article>
<article>
<a id="img-link" onclick="desplegar3('titulo3')" style="cursor:pointer;"><img src="assets/images/fono1.jpeg" alt="" /></a>
<div class="text">
		<p><b>Adulto Mayor</b></p>
 </div>
<p id="titulo3" style="display: none;">
	- Potenciación y mantención de habilidades lingüísticas, sociales, comunicativas y cognitivas, ya que estas ven afectadas de forma normal con el paso de los años.<br>
	- Evaluación de deglución.<br>
	- No se siente conforme con los cambios en su voz.<br>
</p></article>
<article>
<a id="img-link" onclick="desplegar4('titulo4')" style="cursor:pointer;"><img src="assets/images/fono2.png" alt="" /></a>
<div class="text">
		<p><b>Voz</b></p>
 </div>
<p id="titulo4" style="display: none;">
		- Si presenta cuadros de disfonía recurrente.<br>
			- Siente que su voz ha cambiado.<br>
				- Es un profesional de la voz (actor, cantante, locutor, profesor, etc.) y quiere adquirir una técnica vocal adecuada.<br>
					- Siente que su voz cambia a lo largo del día.<br>
						- Siente cansancio a lo largo de la jornada producto del uso prolongado de su voz.<br>
							- Se encuentra en proceso de transición de género.<br>
</p></article>
<article>
<a id="img-link" onclick="desplegar5('titulo5')" style="cursor:pointer;"><img src="assets/images/fono6.png" alt="" /></a>
<div class="text">
		<p><b>Deglución</b></p>
 </div>
<p id="titulo5" style="display: none;">
		- Presenta dificultades al momento de masticar.<br>
			- No logra mantener el alimento dentro de la boca al momento de masticar.<br>
				- Sensación de que le quedó algo en la garganta después de tragar.<br>
					- Tos durante o después de tragar.<br>
						- Siente que se “atora” con ciertas texturas o consistencias de alimentos.<br>
						- Evaluación de la deglución después de un ACV o TEC.<br>
								- Diagnóstico de enfermedades neurodegenerativas.<br>
</p></article>
<article>
<a id="img-link" onclick="desplegar6('titulo6')" style="cursor:pointer;"><img src="assets/images/fono5.png" alt="" /></a>
<div class="text">
		<p><b>Audición</b></p>
 </div>

 <p id="titulo6" style="display: none;">
		- Necesita guía y/o terapia en proceso de implante coclear.<br>
</p>
</article>
</section><br>
<footer>
<p> Además, se pueden potenciar aspectos de la normalidad como fortalecer las habilidades comunicativas, estimular el desarrollo de la primera infancia, apoyar el proceso de lectoescritura, ejercitar las habilidades cognitivas en adultos mayores, etc.</p><br>
<p><b><center>¿Cuánto dura un tratamiento?</center></b></p><br>
<p> La duración es variable, siempre dependerá de la necesidad de cada usuario/a.</p>
</footer>	
	</div>
				<!-- Scripts -->
					<script src="assets/js/jquery.min.js"></script>
					<script src="assets/js/jquery.scrollex.min.js"></script>
					<script src="assets/js/jquery.scrolly.min.js"></script>
					<script src="assets/js/browser.min.js"></script>
					<script src="assets/js/breakpoints.min.js"></script>
					<script src="assets/js/util.js"></script>
					<script src="assets/js/main.js"></script>
					<script src="./server.js"></script>

	</body>
</html>