<!DOCTYPE HTML>
	<head>
		<title>Vida Inclusiva</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
		<link rel="shortcut icon"  href="assets/images/iconopestana.ico">
		<script src="https://snapwidget.com/js/snapwidget.js"></script>
	</head>
<body>
	<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v5.0"></script>
<div id="wrapper" class="fade-in">
		<a href="/" class="image logo"><img src="assets/images/logovidainclusivagrandeFinal.png" alt="" /></a>
		<br>
		<nav id="nav">
			<ul class="links">
				<li class="active"><a href="/">Inicio</a></li>
				<li id="colorAreas"><a href="/">Nuestras Áreas</a>
					<ul>
						<li>
							<a href="/fono">fonoaudiología</a>
							<a href="/kine">Kinesiología</a>
							<a href="/terapia">Terapia ocupacional</a>
							<a href="/nutricion">Nutrición</a>
							<a href="/neuro">Neuropsicología  Infantil</a>
						</li>
					</ul>
				</li>
				<li id="colorOtros"><a  href="/servicios">Otros Servicios</a>
				<li id="colorConvenios"><a href="/convenios">Convenios</a></li>
				<li id="colorContactenos" ><a href="/contactenos">Contáctenos</a></li>
				<li id="colorReserva"><a href="/contact">Reserva tu Hora</a></li>
			</ul>
			<ul class="icons">
				<li><a href=" https://www.facebook.com/espaciovidainclusiva/" target="_blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/Vida.Inclusiva/" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
			</ul>
		</nav>
	<div id="main">
			<article class="post featured">
				<header class="major">
					<h2><a>Quiénes Somos</a></h2> 
					<p style="font-size: 1.3rem;">Somos un espacio de salud multidisciplinario conformado por las áreas de fonoaudiología,
						kinesiología, terapia ocupacional, nutrición y neuropsicología infantil dedicado a la promoción, prevención, evaluación y
						  rehabilitación de nuestros usuarios de forma integral y colaborativa.

						Promovemos la inclusión en todos los contextos como medio para lograr un
						 desarrollo psicosocial que nos permita construir una mejor sociedad, 
						  reconociendo así la diversidad no solo en el ámbito de salud.
					  
					</p>
				</header>
			</article>
			<div id ="cloneMain2"></div>
			<hr style="padding: 0;">
			<h3 style="padding: 2em; text-align: center;">Equipo</h3>
			<div class ="avatarImages"> 
			    <article>
					<img src="assets/images/camila.jpg" alt="">
					<div class="text">
					  <h3>Camila Salgado</h3>
					  <a href="https://www.linkedin.com/in/camila-salgado-ram%C3%ADrez-a54206183/" target="_blank" class="icon brands fa-linkedin fa-lg" ></a>
					 </div>
				 </article>
				 <article>
					<img src="assets/images/PíaGonzález.png" alt="">
					<div class="text">
					  <h3>Pía González</h3>
					  <a href="https://www.linkedin.com/in/pía-gonzález-salamanca-911a94191" target="_blank" class="icon brands fa-linkedin fa-lg"></a>
					 </div>
				 </article>	
				 <article>
					<img src="assets/images/AntonellaDurán.png" alt="">
					<div class="text">
					  <h3>Antonella Durán</h3>
					  <a href="https://www.linkedin.com/in/flga-antonella-duran" target="_blank" class="icon brands fa-linkedin fa-lg"></a>
					 </div>
				 </article>	
				 <article>
					<img src="assets/images/FelipeGonzález.png" alt="">
					<div class="text">
					  <h3>Felipe González</h3>
					  <a href="https://www.linkedin.com/in/felipe-eduardo-gonzalez-7b75371a4/" target="_blank" class="icon brands fa-linkedin fa-lg" ></a>
					 </div>
				 </article>
				 <article>
					<img src="assets/images/JieMieJiang.png" alt="">
					<div class="text">
					  <h3>Jie Mie Jiang</h3>
					  <a href="https://www.linkedin.com/in/jie-mie-jiang-pulgar-480879156" target="_blank" class="icon brands fa-linkedin fa-lg" ></a>
					 </div>
				 </article>
				 <article>
					<img src="assets/images/CarmenCarevic.png" alt="">
					<div class="text">
					  <h3>Carmen Carevic</h3>
					  <a href="https://cl.linkedin.com/in/carmen-gloria-carevic-jerez-780212182" target="_blank" class="icon brands fa-linkedin fa-lg" ></a>
					 </div>
				 </article>
				 <article>
					<img src="assets/images/JoséCárdenas.png" alt="">
					<div class="text">
					  <h3>José Cárdenas</h3>
					  <a href="https://www.linkedin.com/in/jose-cardenas-730901a3" target="_blank" class="icon brands fa-linkedin fa-lg" ></a>
					 </div>
				 </article>
			</div>
			
			</section>
	</div>
	<footer id="footer">
	 	<section>
			<p>¿Tienes dudas? Llámanos al <b>+56944365545</b> considerando nuestro horario de
				atención o envíanos tus consultas en el recuadro siguiente y nos comunicaremos
				contigo a la brevedad.
		</p><br>
			<div class="contact">
				
				
				<form method="POST" action="send-email">
				  <p>
					<label>Nombre</label>
					<input type="text" name="nombre">
				  </p>
				  <p>
					<label>Rut</label>
					<input type="text" name="rut">
				  </p>
				  <p>
					<label>Correo Electronico</label>
					<input type="email" name="email">
				  </p>
				  <p>
					<label>Numero de contacto</label>
					<input type="text" name="numerocontacto" required>
				  </p>
				  <p>
					<label>Previsión</label>
					<select name="convenio">
					  <option disabled selected value>Seleccione</option>
							<option value="Consalud">Consalud</option>
							<option value="Masvida">Mas Vida</option>
							<option value="Cruzblanca">Cruz Blanca</option>
							<option value="Colmena">Colmena</option>
							<option value="Fonasa">Fonasa</option>
							<option value="Banmedica">Banmédica</option>
							<option value="Vidatres">Vida tres</option>
							<option value="Fundacion">Fundación</option>
					</select>
				  </p>
				  <p class="full">
					<label>Mensaje</label>
					<textarea name="mensaje" rows="3"></textarea>
				  </p>
					<p>
					   <button type="submit">Enviar</button>
					   
					</p>
					
				</form>
			  
		</section>													
		<section id="contacto" class="split contact">
			
			<section class="google-maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.461595421411!2d-70.63546198484501!3d-33.437278580777644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c584b2a622d5%3A0x1bf948d5e58a1d61!2sBaquedano!5e0!3m2!1ses-419!2scl!4v1566005610290!5m2!1ses-419!2scl" width="100%" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>
			<div id="textoMap">
					
			</div>
		
				
				
			</section>
			<section>
				<h3>Dirección</h3>
				<p> Seminario #9, oficina 102,  Providencia, Santiago. A pasos de metro Baquedano.</p>
			</section>
			<section  >
				<h3 >Horario</h3> 
					<p>Lunes a Viernes de 9:00 a 13:00 y de 14:00 a 18:00 hrs.<br>
				   </p>
				
			</section>
			<section>
				<h3>Email</h3>
				<p><a href="#">espaciovidainclusiva@gmail.com</a></p>
			</section>
		</section>
	</footer>
	<footer id="main2" >
		<div>
				<center><h3>Síguenos en Redes Sociales </h3></center>
				<a href="https://www.instagram.com/vida.inclusiva/" target="_blank" ><h4 style="color:cornflowerblue;">Instagram: @vida.inclusiva</h3></a>
			<div class="avatarImages2">
				
				<script src="https://apps.elfsight.com/p/platform.js" defer></script>
				<div class="elfsight-app-07f860a9-5e31-44f1-bbac-e204dc04dad0">
					
				</div>
				
				<div class="fb-page" data-href="https://www.facebook.com/espaciovidainclusiva/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/espaciovidainclusiva/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/espaciovidainclusiva/">Vida Inclusiva</a></blockquote></div>
			</div>
		</div>
		</footer>
	</footer>
	<footer id="autor" >
		<p> &copy; 2019 - Page by Sebasthian Castillo Hidalgo - scastillo.hgo@gmail.com +56994718403</p> 
	</footer>
</div>

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="./server.js"></script>

	</body>
</html>