<!DOCTYPE HTML>

<html>
	<head>
		<title>Vida Inclusiva - Kinesiología</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
		<link rel="shortcut icon"  href="assets/images/iconopestana.ico">
		<script>
			function desplegar(titulo1){
				if(document.getElementById('titulo1').style.display == 'block'){
					 document.getElementById('titulo1').style.display = 'none'
					 
				 }else{
					document.getElementById('titulo1').style.display = 'block';
				 }
			}	
			function desplegar2(titulo2){
				if (document.getElementById('titulo2').style.display == 'block') {
					document.getElementById('titulo2').style.display = 'none'
				 } else {
					document.getElementById('titulo2').style.display = 'block';
				 }
			}  
			function desplegar3(titulo3){
				if (document.getElementById('titulo3').style.display == 'block') {
					document.getElementById('titulo3').style.display = 'none'
				 } else {
					document.getElementById('titulo3').style.display = 'block';
				 }
			} 
			
	</script>
	</head>
	<body class="is-preload">
		<div id="wrapper" class="fade-in">
				<a href="/" class="image logoPequeno"><img src="assets/images/logovidainclusivagrandeFinal.png" alt="" /></a><br>
				
				<nav id="nav">
					<ul class="links">
						<li class="active"><a href="/">Inicio</a></li>
				<li id="colorAreas"><a href="/">Nuestras Áreas</a>
					<ul>
						<li>
							<a href="/fono">fonoaudiología</a>
							<a href="/kine">Kinesiología</a>
							<a href="/terapia">Terapia ocupacional</a>
							<a href="/nutricion">Nutrición</a>
							<a href="/neuro">Neuropsicología  Infantil</a>
						</li>
					</ul>
				</li>
				<li id="colorOtros"><a  href="/servicios">Otros Servicios</a>
				<li id="colorConvenios"><a href="/convenios">Convenios</a></li>
				<li id="colorContactenos" ><a href="/contactenos">Contáctenos</a></li>
				<li id="colorReserva"><a href="/contact">Reserva tu Hora</a></li>
					</ul>
					<ul class="icons">
						<li><a href=" https://www.facebook.com/espaciovidainclusiva/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/Vida.Inclusiva/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
				</nav>
				
				
			<div id="main">
						<header class="major">
							<h3><a>Kinesiología</a></h3>
							<p>La kinesiología es una carrera del área de la salud que trabaja
								 en la rehabilitación, mediante el movimiento del cuerpo humano, 
								 logrando la mayor recuperación funcional dependiendo de las potencialidades
								  individuales de cada paciente.
							</p>
							<h3><a>¿Cuándo consultar?</a></h3>
							<p>Cuando padezcas de alguna afección en las áreas de kinesiología,
								 ya sea del área musculoesquelética
								 o deportiva, respiratoria o neurológica.</p><br>
						</header>
                        <div id ="cloneMain3">
										<div class="banner-content">
												<a href="/contact">Reservar Hora</a>
										</div>
                        </div>	
							<div style="padding: 2.5 em;padding-bottom: 1em;  background-color: #eeeeee;">
							<center><h3 style="margin: 0;" >¿En qué casos puede ayudarte Vida Inclusiva?</h3></center>
			</div>				
<section class="acordeon2">
<article>
<div class="text">
	<a id="img-link" onclick="desplegar('titulo1')" style="cursor:pointer;"><img src="assets/images/deportiva.png" alt=""  /></a><br>
	<p><b>Área Musculoesqueléticas y Deportiva</b></p>	 	
</div>
<p  id="titulo1" style="display: none;">
 Consiste en reintegrar al paciente a su actividad habitual en el menor tiempo posible, con el menor riesgo de recaer en su lesión. Aplicado a personas de todas las edades.
<br>
	<span>-</span> Prevención de lesiones.<br>
	- Recuperación de lesiones.<br>
	- Tratamiento de dolores.<br>
	- Mejorar la postura.<br>
	- Mejorar el esquema corporal.<br>
	- Re-educación del gesto deportivo. <br>
	
</p>
</article>
<article>

<div class="text">
	<a id="img-link" onclick="desplegar2('titulo2')" style="cursor:pointer;"><img src="assets/images/respiratoria.png" alt="" /></a>
		<p><b>Área Respiratoria</b></p>
 </div>
<p id="titulo2" style="display: none;">
    Son maniobras kinésicas con la finalidad de mejorar la ventilación mediante la facilitación de la expansión del tórax, favoreciendo la eliminación de las
	 secreciones de las vías respiratorias, principalmente, en niños y adultos mayores.<br>
			- Eliminar secreciones de la vía aérea, evitando su acumulación.<br>
			- Mejorar la ventilación pulmonar.<br>
			- Facilitar el mecanismo de la tos.<br>
			- Educación sobre cuidados respiratorios.<br>
			- Patologías como síndrome bronquial obstructivo (SBO),	neumonías, bronquitis agudas, enfermedad pulmonar obstructiva crónica (EPOC), bronquiolitis, entre otras.
<br>
</p></article>
<article>
<div class="text">
	<a id="img-link"  onclick="desplegar3('titulo3')" style="cursor:pointer;"><img src="assets/images/neurologia.png" alt="" /></a>
	<p><b>Área Neurológica</b></p>
</div>
<p id="titulo3" style="display: none;">
    - Consiste en lograr la máxima independencia funcional en las actividades de la vida diaria de las personas, tanto en niños como en adultos, que padezcan patologías que afecten al sistema nervioso.
    <br>
	- Disminuir al máximo las complicaciones de las patologías.<br>
    - Fortalecimiento muscular.<br>
    - Re-educación de la marcha.<br>
    - Re-educación neuromuscular.<br>
    -  Mejora de alteraciones del equilibrio.<br>
    - Patologías como accidente cerebro vascular (ACV), parálisis cerebral (PC),
traumatismo encéfalo craneano (TEC), lesiones medulares, neuropatías, enfermedad de Parkinson, retraso en el desarrollo psicomotor. 
    <br>
</p></article>
</section>


<footer>
<p><b><center>¿Cuánto dura un tratamiento?</center></b></p><br>
<p> La duración es variable, siempre dependerá de la necesidad de cada usuario/a.</p>
</footer>	
	</div>
				<!-- Scripts -->
					<script src="assets/js/jquery.min.js"></script>
					<script src="assets/js/jquery.scrollex.min.js"></script>
					<script src="assets/js/jquery.scrolly.min.js"></script>
					<script src="assets/js/browser.min.js"></script>
					<script src="assets/js/breakpoints.min.js"></script>
					<script src="assets/js/util.js"></script>
					<script src="assets/js/main.js"></script>
					<script src="./server.js"></script>

	</body>
</html>