<!DOCTYPE HTML>

<html>
	<head>
		<title>Vida Inclusiva - Neuropsicología  Infantil</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
		<link rel="shortcut icon"  href="assets/images/iconopestana.ico">
		<script>
			function desplegar(titulo1){
				if(document.getElementById('titulo1').style.display == 'block'){
					 document.getElementById('titulo1').style.display = 'none'
					 
				 }else{
					document.getElementById('titulo1').style.display = 'block';
				 }
			}	
			function desplegar2(titulo2){
				if (document.getElementById('titulo2').style.display == 'block') {
					document.getElementById('titulo2').style.display = 'none'
				 } else {
					document.getElementById('titulo2').style.display = 'block';
				 }
			}  
			function desplegar3(titulo3){
				if (document.getElementById('titulo3').style.display == 'block') {
					document.getElementById('titulo3').style.display = 'none'
				 } else {
					document.getElementById('titulo3').style.display = 'block';
				 }
			} 
			function desplegar4(titulo4){
				if (document.getElementById('titulo4').style.display == 'block') {
					document.getElementById('titulo4').style.display = 'none'
				 } else {
					document.getElementById('titulo4').style.display = 'block';
				 }
			} 
			function desplegar5(titulo5){
				if (document.getElementById('titulo5').style.display == 'block') {
					document.getElementById('titulo5').style.display = 'none'
				 } else {
					document.getElementById('titulo5').style.display = 'block';
				 }
			} 
			function desplegar6(titulo6){
				if (document.getElementById('titulo6').style.display == 'block') {
					document.getElementById('titulo6').style.display = 'none'
				 } else {
					document.getElementById('titulo6').style.display = 'block';
				 }
			} 
			
	</script>
	</head>
	<body class="is-preload">
		<div id="wrapper" class="fade-in">
				<a href="/" class="image logoPequeno"><img src="assets/images/logovidainclusivagrandeFinal.png" alt="" /></a><br>
				<nav id="nav">
					<ul class="links">
						<li class="active"><a href="/">Inicio</a></li>
				<li id="colorAreas"><a href="/">Nuestras Áreas</a>
					<ul>
						<li>
							<a href="/fono">fonoaudiología</a>
							<a href="/kine">Kinesiología</a>
							<a href="/terapia">Terapia ocupacional</a>
							<a href="/nutricion">Nutrición</a>
							<a href="/neuro">Neuropsicología  Infantil</a>
						</li>
					</ul>
				</li>
				<li id="colorOtros"><a  href="/servicios">Otros Servicios</a>
				<li id="colorConvenios"><a href="/convenios">Convenios</a></li>
				<li id="colorContactenos" ><a href="/contactenos">Contáctenos</a></li>
				<li id="colorReserva"><a href="/contact">Reserva tu Hora</a></li>
					</ul>
					<ul class="icons">
						<li><a href=" https://www.facebook.com/espaciovidainclusiva/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/Vida.Inclusiva/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
				</nav>
				
				
			<div id="main">
						<header class="major">
							<h3><a>Neuropsicología Infantil</a></h3>
							<p>La neuropsicología infantil plantea la relación
                                 que se da entre el proceso madurativo del cerebro y
                                  la conducta durante la infancia. Considera la neuroplasticidad,
                                   el desarrollo infantil y los trastornos que los niños y niñas 
                                   pueden presentar, adaptando y diseñando evaluaciones e
                                    intervenciones adecuadas a la población infantil.
</p>
							<h3><a>¿Cuándo consultar?</a></h3>
							<p>Cuando se presenten sospechas de algún trastorno del 
                                neurodesarrollo (como trastorno del espectro autista, 
                                trastorno de déficit atencional con o sin hiperactividad, etc.), 
                                dificultades del aprendizaje, problemas de conducta y dificultades
                                 emocionales. También en casos de daño cerebral.
                            </p><br>
						</header>
								<section class ="banner">
										<div class="banner-content">
												<a href="/contact">Reservar Hora</a>
										</div>
								</section>	
							<div style="padding: 2.5 em;padding-bottom: 1em;  background-color: #eeeeee;">
							<center><h3 style="margin: 0;" >¿En qué casos puede ayudarte Vida Inclusiva?</h3></center>
			</div>				
<section class="acordeon">
	
<article>
<a id="img-link" onclick="desplegar('titulo1')" style="cursor:pointer;" ><img src="assets/images/neuro1.png" alt=""  /></a>
<div class="text">
	<p><b>Evaluación neuropsicológica</b></p>	 	
 </div>
<p  id="titulo1" style="display: none;">

 Permite conocer el desarrollo de las funciones cognitivas (aprendizaje, razonamiento, atención, memoria, resolución de problemas, toma de decisiones, emociones) a través de distintas pruebas, mostrando las fortalezas y debilidades que impactan en el desempeño general del niño y el adolescente en distintos contextos. 
<br>
	<span>-</span> 
</p></article>
<article>
<a id="img-link" onclick="desplegar2('titulo2')" style="cursor:pointer;"><img src="assets/images/neuro2.png" alt="" /></a>
<div class="text">
		<p><b>Evaluación ADOS 2</b></p>
 </div>
<p id="titulo2" style="display: none;">
	  Escala de observación para el diagnóstico del autismo. Es una evaluación estandarizada y semiestructurada de la comunicación, la interacción social y el juego o el uso imaginativo de materiales para personas con sospecha de tener un trastorno del espectro autista.<br>
			
</p></article>
<article>
<a id="img-link" onclick="desplegar3('titulo3')" style="cursor:pointer;"><img src="assets/images/neuro3.png" alt="" /></a>
<div class="text">

		<p><b>Entrevista ADI-R</b></p>
 </div>
<p id="titulo3" style="display: none;">
	 Es una entrevista clínica que permite una evaluación profunda a personas con sospechas de Trastorno del Espectro Autista (TEA). <br>
	
</p></article>
<article>
<a id="img-link" onclick="desplegar4('titulo4')" style="cursor:pointer;"><img src="assets/images/neuro4.png" alt="" /></a>
<div class="text">

		<p><b>Rehabilitación</b></p>
 </div>
<p id="titulo4" style="display: none;">
		- Dirigido a niñas, niños y sus familias con el fin de reducir y manejar los déficits cognitivos, conductuales y emocionales, disminuyendo su impacto en la vida cotidiana. Aplicada a trastornos y dificultades del aprendizaje como:
        <br>
			- Trastorno de déficit atencional e hiperactividad (TDAH).<br>
				- Trastorno del Espectro Autista (TEA).<br>
					- Discapacidad Intelectual (DI).<br>
						- Trastornos del aprendizaje como: discalculia, dislexia, disgrafia).
                        <br>
							
</p></article>
<article>
<a id="img-link" onclick="desplegar5('titulo5')" style="cursor:pointer;"><img src="assets/images/neuro5.png" alt="" /></a>
<div class="text">

		<p><b>Entrenamiento y/o formación para padres, madres y cuidadores</b></p>
 </div>
<p id="titulo5" style="display: none;">
		 Aportándoles las herramientas necesarias para responder de forma eficaz a las dificultades y comportamientos de sus hijos e hijas.<br>
			
</p></article>

</section><br>
	
	</div>
				<!-- Scripts -->
					<script src="assets/js/jquery.min.js"></script>
					<script src="assets/js/jquery.scrollex.min.js"></script>
					<script src="assets/js/jquery.scrolly.min.js"></script>
					<script src="assets/js/browser.min.js"></script>
					<script src="assets/js/breakpoints.min.js"></script>
					<script src="assets/js/util.js"></script>
					<script src="assets/js/main.js"></script>
					<script src="./server.js"></script>

	</body>
</html>